In [ ]:
import pysam
import pandas as pd
import numpy as np

In [16]:
samfile = pysam.AlignmentFile("A549.bam", "rb")

In [17]:

def reverse_read(read) -> bool:
    return read.is_reverse

def forward_read(read) -> bool:
    return not read.is_reverse

In [5]:
covs=samfile.count_coverage(contig='chr1', start=10000 -5, stop=10000 + 10, quality_threshold=15, read_callback=reverse_read)

In [18]:
samfile.count_coverage(contig='chr1', start=10000 -5, stop=10000 + 10, quality_threshold=15, read_callback=forward_read)

(array('L', [0, 0, 0, 0, 0, 0, 92, 102, 0, 0, 0, 0, 145, 147, 0]),
 array('L', [0, 0, 0, 0, 0, 0, 0, 0, 116, 128, 136, 0, 0, 0, 151]),
 array('L', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]),
 array('L', [0, 0, 0, 0, 0, 62, 0, 0, 0, 0, 0, 142, 0, 0, 0]))

In [19]:
N_A, N_C, N_G, N_T = samfile.count_coverage(contig='chr1', 
                       start=100000, stop=100000 + 55, 
                       quality_threshold=15, 
                       read_callback='all'
                       )
pd.DataFrame({'N_A': N_A, 'N_C': N_C, 'N_G': N_G, 'N_T': N_T})

    N_A  N_C  N_G  N_T
0   283    0    1    0
1     0  105    1  169
2     0    0    0  284
3   283    0    1    0
4   289    0    2    0
5   114    0  163    0
6     1  107    0  171
7   282    0    2    0
8     1  107    0  169
9   288    0    4    0
10    0  107    1  169
11  282    0    0    0
12  116    0  161    0
13  274    1    3    0
14  111    0  158    0
15  274    0    1    0
16  271    1    0    0
17    0    0    2  265
18  273    0    0    0
19  270    0    2    0
20    0    1    3  268
21  108    0  155    0
22    0    0    0  262
23    0   98    0  157
24    0    0    2  263
25  265    0    2    0
26  104    2  156    0
27  250    0    6    0
28  258    0    3    1
29    1    1    0  256
30    1   95    2  149
31    1    2    3  250
32  101    0  148    1
33  252    0    2    1
34  104    1  145    0
35    2    3    6  246
36  103    1  141    0
37    0   91    4  145
38    0   98    0  143
39  242    0    9    0
40    0    0    1  253
41   91    2  151    0
42    0    1    1  249
43    4    0    0  248
44  248    1    5    0
45    0    0    0  249
46    2   88    0  148
47  242    0    3    0
48  242    1    3    0
49  246    0    3    0
50    2    2    1  234
51    2    2    0  244
52   92    0  153    1
53    0    0    2  246
54  246    1    3    0

In [1]:
dna = 'ATGCCTTTTACACTTGGTCAACGCTGGATCAGCGATACAGAAAGCGAATTGGGACTTGGAACCGTTGTCGCGGTGGATGCGCGAACTGTCACTTTACTTTTCCCATCTACTGGTGAAAACCGTCTGTACGCACGCAGTGATTCCCCCGTGACCCGCGTGATGTTCAACCCTGGTGATACCATTACCAGCCATGACGGCTGGCAGATGCAAGTCGAAGAAGTAAAAGAAGAAAATGGCTTGCTGACCTATATCGGTACTCGCCTGGATACTGAAGAGTCCGGCGTAGCCCTGCGTGAAGTTTTCCTTGATAGCAAACTGGTGTTCAGCAAACCGCAGGACCGTCTGTTTGCCGGGCAGATTGACCGTATGGACCGCTTTGCGCTGCGTTATCGCGCGCGTAAATATTCCAGCGAACAGTTCCGTATGCCGTACAGCGGCCTGCGCGGTCAGCGTACCAGCCTGATCCCGCATCAGCTCAACATCGCTCATGATGTTGGTCGCCGCCACGCGCCGCGCGTCCTGCTGGCTGACGAAGTGGGTTTAGGGAAAACCATTGAAGCCGGGATGATCCTGCATCAGCAACTGCTCTCTGGCGCTGCTGAACGTGTGCTAATTATCGTCCCGGAAACCTTACAGCATCAGTGGCTGGTAGAAATGCTGCGCCGTTTCAACCTGCGCTTTGCGCTATTTGATGATGAGCGTTATGCCGAAGCTCAGCACGATGCTTACAACCCGTTTGACACCGAACAGCTGGTGATTTGCTCGCTGGATTTTGCCCGTCGTAGCAAACAGCGCCTGGAACATCTCTGTGAAGCCGAATGGGACCTGCTGGTGGTCGATGAAGCGCATCACCTGGTGTGGAGCGAAGATGCGCCAAGCCGTGAATATCAGGCCATTGAACAACTGGCAGAGCACGTGCCGGGCGTTCTGCTGCTGACCGCGACCCCGGAACAGCTGGGGATGGAAAGCCACTTCGCCCGTCTGCGTCTGCTGGACCCGAACCGTTTCCACGATTTTGCGCAGTTCGTTGAAGAGCAGAAAAATTATCGTCCGGTTGCGGACGCCGTTGCCATGCTGCTGGCAGGTAACAAACTGAGCAATGACGAACTGAACATGCTCGGCGAGATGATCGGCGAGCAGGATATCGAGCCGCTGTTGCAGGCAGCAAACAGCGACAGCGAAGATGCCCAGAGCGCCCGTCAGGAGCTGGTTTCGATGCTGATGGATCGCCACGGCACCAGCCGCGTGCTGTTCCGTAACACGCGTAACGGTGTGAAAGGATTCCCGAAACGCGAGCTGCACACCATTAAGCTGCCGCTACCGACGCAGTATCAGACGGCTATTAAAGTCTCCGGCATTATGGGCGCACGTAAAAGTGCGGAAGATCGTGCTCGCGATATGCTCTACCCGGAGCGTATTTATCAGGAATTTGAAGGTGATAACGCCACCTGGTGGAACTTCGATCCGCGCGTTGAGTGGCTGATGGGCTACCTGACCAGCCATCGCTCTCAGAAAGTGCTGGTGATCTGCGCCAAAGCTGCCACTGCGCTGCAACTGGAGCAGGTACTGCGCGAACGTGAAGGTATTCGCGCTGCGGTGTTCCACGAAGGTATGTCGATTATCGAACGTGACCGCGCTGCCGCCTGGTTTGCCGAAGAAGACACCGGCGCACAGGTACTGCTGTGCTCAGAAATCGGTTCTGAAGGACGTAACTTCCAGTTCGCCAGCCACATGGTGATGTTTGACCTGCCATTCAACCCGGATCTACTGGAGCAGCGTATTGGTCGTCTGGATCGTATCGGCCAGGCGCACGATATTCAGATCCATGTGCCTTATCTGGAGAAAACCGCTCAGTCGGTGCTGGTGCGCTGGTATCACGAAGGTCTGGATGCATTTGAGCACACCTGCCCGACCGGACGCACTATTTACGATAGCGTATACAACGATCTGATTAACTATCTGGCTTCACCGGATCAAACCGAAGGCTTTGACGATCTGATCAAAAACTGCCGCGAGCAACATGAAGCGCTGAAAGCACAGCTGGAACAGGGTCGTGACCGCCTGCTGGAAATCCACTCCAACGGTGGCGAAAAAGCCCAGGCACTGGCAGAAAGCATTGAAGAGCAGGATGACGATACCAACCTGATCGCCTTCGCCATGAACCTGTTCGATATTATCGGTATCAATCAGGACGATCGCGGCGACAACATGATCGTGCTGACGCCGTCCGATCATATGCTGGTGCCGGACTTCCCTGGCCTGTCGGAAGATGGCATCACCATCACCTTTGATCGTGAAGTGGCGCTGGCGCGTGAAGATGCACAGTTTATTACCTGGGAGCATCCGCTGATCCGCAACGGTCTGGATCTGATCCTTTCTGGCGATACCGGTAGCAGCACGATTTCACTGTTAAAAAACAAAGCGTTGCCGGTAGGTACGCTGTTGGTGGAACTGATTTATGTGGTTGAAGCCCAGGCTCCGAAGCAGTTGCAGCTCAACCGCTTCCTGCCACCGACGCCGGTACGTATGCTGCTGGATAAAAACGGCAACAACCTGGCGGCGCAGGTAGAGTTTGAAACCTTTAACCGCCAGCTTAACGCGGTTAACCGTCACACCGGCAGCAAACTGGTTAACGCCGTGCAGCAGGATGTTCACGCTATCCTTCAACTGGGTGAAGCGCAGATCGAGAAATCTGCCCGTGCATTGATTGATGCAGCGCGTAACGAAGCCGACGAAAAACTGTCTGCCGAGCTGTCTCGTCTGGAAGCTCTGCGTGCAGTGAACCCGAACATTCGTGACGACGAACTGACCGCCATTGAGAGCAACCGTCAGCAGGTAATGGAAAGCCTGGATCAGGCAGGTTGGCGTCTGGATGCCCTGCGTTTGATCGTTGTAACGCATCAGTAA'

In [106]:
m = {'A': '0', 'T': '1', 'C': '2', 'G': '3'}

def DNA2Byte(dna):
    L = len(dna)
    r = ''
    for i, d in enumerate(dna):
        r += m[d]
        if i % 4 == 3 or i == L-1: 
            yield int(r, 4).to_bytes(length=1, byteorder='big', signed=False)
            r = ''

In [ ]:
with open('t', 'wb') as f:
    for d in DNA2Byte(dna):
        f.write(d)

In [107]:
list(DNA2Byte('ATGCCTTTTACACTTGGTCAACGCTGGATCAGCGATAC'))

[b'\x1e', b'\x95', b'H', b'\x97', b'\xd8', b'.', b'|', b'c', b'\xb1', b'\x02']

In [8]:
int(m['T']+m['A']+m['C']+m['A'], 4)

72

In [32]:
import numpy as np
import re
import math

In [34]:
def cf(f, count):
    def _cf(gen):
        try:
            return next(gen) + 1 / _cf(gen)
        except StopIteration:
            return float('inf')
    gen = fgen(f, count)
    return _cf(gen)

def fgen(f, count):
    i = 0
    while i <= count:
        yield f(i)
        i += 1

In [28]:
def f2cf(val):
    if isinstance(val, float):
        val = str(val)
    x, y = re.compile(r'[/, .]').split(val)
    if '.' in val:
        tmp = 10**len(y)
        x = int(x) * tmp + int(y)
        y = tmp
    else:
        x, y = int(x), int(y)
    arr = []
    gen = gcd(x, y)
    for item in gen:
        arr.append(item)
    return arr

def gcd(x, y):
    while y:
        yield x // y
        x, y = y, x % y

In [60]:
x = 8/np.log2(5)

In [69]:
cf(lambda x: [3, 2, 4][x], 2) - x

-0.0009680201426998103

In [72]:
31*np.log2(5)/(9*8)

0.9997190408542809

In [ ]:
f2cf(x)

In [123]:
s = '%x' % int('4'*27, 5)
s, len(s)

('6765c793fa10079c', 16)

In [136]:
int('1'* 64, 2) - int('4'*27, 5) - 2**32

10996163472490756195

In [137]:
2**32

4294967296

In [121]:
int('4'*27, 5).to_bytes(length=8, byteorder='big', signed=False)

b'ge\xc7\x93\xfa\x10\x07\x9c'

In [119]:
a = bytes.fromhex('6765c793fa10079c')
a

b'ge\xc7\x93\xfa\x10\x07\x9c'

In [109]:
with open('t', 'wb') as f:
    f.write(a)

In [145]:
x = 1000
x.to_bytes((x.bit_length() + 7) // 8, byteorder='little')

b'\xe8\x03'

In [146]:
x.to_bytes((x.bit_length() + 7) // 8, byteorder='big')

b'\x03\xe8'

In [147]:
'%x' % x

'3e8'